@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Cypro+Minoan&family=Noto+Sans+JP:wght@100;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
  background-color: transparent;
  transition: #014040cf 0.3s ease;
  font-family: "Noto Sans JP", sans-serif;
}

.cole-logo {
  font-size: 50px;
  font-weight: 900px;
  font-family: "Vina Sans", cursive;
}

.nav-list {
  display: flex;
  gap: 60px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.hero-section {
  display: flex;
  width: 100%;
}

.hero-text {
  width: 50%;
  padding: 80px 40px 0 110px;
}

.hello {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 280px;
  color: #000000;
  width: 100%;
}

.lo-text {
  color: #00baba;
}

.hero-name {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #000000;
  line-height: 56px;
  margin-bottom: 15px;
}

.lo-text-2 {
  color: #00baba;
  font-weight: 600;
}

.hero-image {
  width: 50%;
}

.hero-img {
  width: 100%;
}

.language-list {
  overflow: hidden;
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  position: relative;
  top: -4px;
  max-height: 100px;
}

ul {
  transition: transform 5s linear;
}

li {
  list-style-type: disc;
  display: inline-block;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #00baba;
}

.ri-circle-fill {
  color: #00baba;
}

.scrolling {
  transform: translateX(-100%);
  animation: scrollAnimation 40s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.reach-resume-div {
  position: relative;
  top: -30px;
  display: flex;
  gap: 10px;
  padding-left: 110px;
}

.reach-resume {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  gap: 5px;
  border: 2px solid #00baba;
  padding: 8px 16px;
  max-width: 180px;
  background-color: #00baba;
  color: #ffffff;
}

.ri-arrow-right-up-line {
  width: 1em;
  height: 1em;
}

#my-resume {
  background-color: transparent;
  color: #00baba;
}

.big-and-small-projects {
  padding-left: 110px;
}

.big-project {
  font-family: "Poppins", sans-serif;
  font-size: 180px;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: 2px #00baba;
  opacity: 0.2;
}

.small-project {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}

.x-axis-line {
  width: 72%;
  height: 2px;
  background-color: black;
}

.small-proj-positioning {
  position: relative;
  top: -193px;
  padding: 0 0 0 25px;
}

.first-img-set-div {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.img-and-text-div {
  width: 50%;
  position: relative;
}

.one-side-img-div {
  width: 100%;
  height: 30em;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.09),
    rgba(0, 0, 0, 0.88) 98.7%
  );
}

.one-side-img {
  width: 100%;
  height: 100%;
}

.text-div {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 10px;
  padding: 30px 0 30px 110px;
  width: 520px;
  position: absolute;
  top: 30px;
}

#fourth-sec-text-div-id {
  gap: 50px;
}

.bolded-text {
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  font-weight: 400;
}

.info-note {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
}

.lang-info {
  font-family: "Roboto", sans-serif;
}

.icon {
  font-size: 30px;
}

.both-icons {
  display: flex;
  gap: 20px;
}

.about-me-div {
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #00baba;
  line-height: 56px;
}

.about-me-info {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

.mail {
  font-size: 17px;
  font-weight: 600;
  color: #00baba;
  text-decoration: none;
}

.about-me-icon-list {
  display: flex;
  gap: 20px;
}

.about-icon {
  font-size: 40px;
  color: #00baba;
  text-decoration: none;
}

.blog-div {
  background-color: #000000;
  color: #ffffff;
  padding: 60px 110px 60px 110px;
}

.blog-and-info {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
}

.blog-bolded-text {
  font-family: "Poppins", sans-serif;
  font-size: 140px;
}

.name-deco {
  text-decoration: underline;
}

.blog-image {
  width: 320px;
  height: 20em;
}

.blog-img {
  width: 100%;
  height: 100%;
}

.all-blog-info {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.blog-slide {
  position: relative;
}

.blog-text-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: absolute;
  top: 30px;
  padding: 0 20px;
}

.den {
  gap: 80px;
}

.date {
  font-weight: 300;
  font-size: 14px;
}

.link-and-icon {
  align-items: center;
  display: flex;
  gap: 5px;
  text-align: center;
  cursor: pointer;
}

.view-more-btn {
  border: 2px solid #00baba;
  background-color: #00baba;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 8px 50px;
}

.view-more-btn-div {
  text-align: center;
}

.learn-more {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.last-page-part {
  background-color: #f5f5f5;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-letter-whitebk {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  padding: 20px 15px;
  width: 40em;
  border: 1px solid rgb(223, 222, 222);
  border-radius: 5px;
  margin-bottom: 50px;
}

.newsletter-header {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.sub-and-want-text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  color: #686868;
  text-align: center;
  gap: 5px;
  margin-bottom: 20px;
}

.subscribe-info {
  font-size: 17px;
  font-weight: 400;
}

.want-to-text {
  font-size: 15px;
  font-weight: 400;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 30px 0;
}

#email {
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid rgb(223, 222, 222);
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

#email::placeholder {
  font-weight: 500px;
  font-size: 15px;
  color: #000;
}

#email:focus {
  outline: none;
}

.subscribe-button {
  cursor: pointer;
  border: 2px solid #00baba;
  background-color: #00baba;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 8px 50px;
  border-radius: 5px;
}

.unsubscribe {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}

.built-with-div {
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  transition: transform 0.9s ease-in-out;
}

.built-with-div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.covertkit-span {
  width: 150px;
  height: 80px;
}

.covertkit-img {
  width: 100%;
  height: 100%;
}

#x-axis-line-id {
  width: 84%;
}

.footer {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 215px;
}

.creators-and-rights {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #6b7280;
}

.tech-names {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    gap: 40px;
    padding: 20px 80px;
    width: fit-content;
  }

  .cole-logo {
    font-size: 30px;
    font-weight: 700px;
  }

  .nav-list {
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }

  .hero-section {
    display: flex;
    width: fit-content;
  }

  .hero-text {
    width: fit-content;
    padding: 60px 20px 0 80px;
  }

  .hello {
    font-size: 80px;
    width: fit-content;
  }

  .hero-name {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .hero-image {
    display: none;
  }

  .language-list {
    width: fit-content;
    padding: 10px 0;
    max-height: 50px;
  }

  .reach-resume-div {
    padding-left: 80px;
  }

  .big-and-small-projects {
    padding-left: 80px;
  }

  .big-project {
    font-size: 60px;
  }

  .small-project {
    font-size: 20px;
  }

  .x-axis-line {
    width: 57%;
  }

  .small-proj-positioning {
    top: -70px;
  }

  .first-img-set-div {
    flex-direction: column;
  }

  .img-and-text-div {
    width: 100%;
  }

  .text-div {
    padding: 30px 0 30px 30px;
    width: fit-content;
  }

  .bolded-text {
    font-size: 28px;
    font-weight: 300;
  }

  .icon {
    font-size: 15px;
  }

  .both-icons {
    gap: 10px;
  }

  .name {
    font-size: 30px;
    line-height: 30px;
  }

  .about-me-info {
    font-size: 15px;
  }

  .mail {
    font-size: 14px;
  }

  .about-me-icon-list {
    gap: 5px;
  }

  .about-icon {
    font-size: 20px;
  }

  .blog-div {
    padding-left: 110px;
  }

  .blog-and-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .blog-bolded-text {
    font-size: 80px;
  }

  .blog-image {
    height: 15em;
  }

  .all-blog-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .blog-text-info {
    gap: 40px;
  }

  .view-more-btn {
    font-size: 18px;
    padding: 5px 15px;
  }

  .news-letter-whitebk {
    width: 590px;
    margin-bottom: 30px;
  }

  .newsletter-header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .subscribe-info {
    font-size: 14px;
  }

  .want-to-text {
    font-size: 13px;
  }

  .form-div {
    gap: 5px;
    padding-bottom: 20px;
  }

  #email {
    padding: 8px;
  }

  #email::placeholder {
    font-size: 13px;
  }

  .subscribe-button {
    font-size: 15px;
    padding: 4px 30px;
  }

  .unsubscribe {
    font-size: 13px;
  }

  #x-axis-line-id {
    width: 84%;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
  }

  .creators-and-rights {
    font-size: 13px;
  }
}

/* font-family: 'Noto Sans Cypro Minoan', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Vina Sans', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
